<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Section réseaux sociaux -->
        <div class="col-md-4">
          <h5>Suivez-nous</h5>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/YourCompany" class="text-white" target="_blank"><i class="bi bi-facebook"></i></a></li>
            <li><a href="https://twitter.com/YourCompany" class="text-white" target="_blank"><i class="bi bi-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/YourCompany" class="text-white" target="_blank"><i class="bi bi-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/YourCompany" class="text-white" target="_blank"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
  
        <!-- Section FAQs -->
        <div class="col-md-4">
          <h5>FAQs</h5>
          <ul class="list-unstyled">
            <li><a href="/faq" class="text-white">Comment ça marche ?</a></li>
            <li><a href="/faq" class="text-white">Comment créer un compte ?</a></li>
            <li><a href="/faq" class="text-white">Comment prendre un ticket ?</a></li>
            <li><a href="/faq" class="text-white">Politique de confidentialité</a></li>
          </ul>
        </div>
  
        <!-- Section supplémentaire -->
        <div class="col-md-4">
          <h5>Autres informations</h5>
          <ul class="list-unstyled">
            <li><a href="/contact" class="text-white">Nous contacter</a></li>
            <li><a href="/about" class="text-white">À propos de nous</a></li>
            <li><a href="/careers" class="text-white">Carrières</a></li>
            <li><a href="/terms" class="text-white">Conditions d'utilisation</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 YourCompany. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </footer>
  