<app-navbar></app-navbar>
<div class="container mt-5">
  <h2 class="text-center">Détails du Ticket</h2>
  <div class="card">
    <div class="card-body ">
      <p><strong>Numéro du Ticket:</strong> {{ ticket?.numeroTicket }}</p>
      <p><strong>Nom:</strong> {{ ticket?.nom }}</p>
      <p><strong>Téléphone:</strong> {{ ticket?.telephonne }}</p>
      <p><strong>Service:</strong> {{ ticket?.serviceModel?.nomService }}</p>
      <p><strong>Heure de Prise:</strong> {{ ticket?.heurePrise | date: 'short' }}</p>
      <p><strong>Position dans la File:</strong> {{ position }}</p>
      <button class="btn btn-danger" (click)="annulerTicket()">Annuler</button>
      <button class="btn btn-warning" (click)="modifierTicket()">Modifier</button>
    </div>
  </div>
</div>

