.my-container {
    border-radius: 10px;
    margin: 10px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img-fluid {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
}
.b{
    margin: 20px;
}
.btn-primary:hover{
background-color: rgba(255, 0, 0, 0.801);
border-color: transparent;
transition: ease-in-out 0.2s;
}