
 <!-- <div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue sur notre système de gestion de files d'attente!</h1>
    <p class="lead">Prenez un ticket et laissez-nous gérer le reste.</p>
    <hr class="my-4">
    <p>Pour commencer, cliquez sur le bouton ci-dessous pour prendre un ticket.</p>
    <a class="btn btn-primary btn-lg" href="#" routerLink="/ticket-form">Prendre un ticket</a>
  </div>
  -->
  <app-navbar></app-navbar>


  <div class="container my-container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="../../../assets/images/images.png" class="img-fluid w-100 d-block" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-12">
            <h3 class="display-7">Bienvenue sur notre système de gestion <br> de files d'attente!</h3>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-12">
            <p>Pour commencer, cliquez sur le bouton ci-dessous pour prendre un ticket.</p>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-12 ">
            <a class="btn btn-primary btn-lg mb-3" href="#" routerLink="/ticket-form">Prendre un ticket</a>
        </div>
    </div>
</div>
