<div class="container justify-content-center align-items-center my-5 ">
  <div class="row justify-content-center ">
    <div class="col-md-6">
      <p style="text-align: center; font-size: 3em; font-weight: bold; color: red;">Se connecter</p>
      <div class="card mb-3">
        <div class="card-body">
          <form class="mx-5" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
            <div class="form-group mb-4">
              <h1 style="text-align: center; margin: 10px;  "><i class="bi bi-shield-lock" style="font-size: 5rem;width: 100px;"></i></h1>
           
              <input type="text" class="form-control" id="username" [(ngModel)]="form.username" name="username" placeholder="username ou Email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" [(ngModel)]="form.password" name="password" placeholder="mot de passe" required>
            </div>
            <div class="form-check mb-1"></div>
            <button type="submit" class="btn btn-primary">Se connecter
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
              </svg>
            </button>
            <div class="form-check mb-1 mt-3">
              <input class="form-check-input" type="checkbox" id="myCheck" name="remember">
              <label class="form-check-label" for="myCheck">Se souvenir de moi</label>
            </div>
          </form>
          <p style="text-align: center; margin-top: 20px;">Vous n'avez pas de compte ? <a routerLink="/inscription">S'inscrire</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
