.card-body{
    background: #fafafa;
}
input{
    border-radius: 15px;
    
}
button{
    width: 100%;
}
.form-check-input{
    margin-left: 25%;
}
.form-check-label{
    margin-left: 10px;
    font-weight: normal;
}