<div class="container mt-5">
    <h1>Bienvenue sur notre service de gestion de file d'attente</h1>
    <!-- <button class="btn btn-primary" (click)="openTicketForm()">Prendre un ticket</button> -->
  </div>
  
  <!-- Formulaire pour prendre un ticket -->
  <!-- <div *ngIf="showTicketForm"> -->
    <h2 class="text-center mt-5">Prendre un Ticket</h2>
    <!-- <form (ngSubmit)="submitTicketForm()"> -->
      <div class="form-group">
        <label for="nom">Nom</label>
        <!-- <input type="text" class="form-control" id="nom" [(ngModel)]="ticket.nom" name="nom" required> -->
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <!-- <input type="text" class="form-control" id="telephone" [(ngModel)]="ticket.telephone" name="telephone" required> -->
      </div>
      <div class="form-group">
        <label for="service">Service</label>
        <!-- <select class="form-control" id="service" [(ngModel)]="ticket.serviceId" name="service" required> -->
          <!-- <option *ngFor="let service of services" [value]="service.id">{{ service.nom }}</option> -->
        <!-- </select> -->
      </div>
      <button type="submit" class="btn btn-success">Soumettre</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="closeTicketForm()">Annuler</button> -->
    <!-- </form>
  </div> -->
  