
<!-- service.component.html -->
<app-navbar></app-navbar>

<div class="container mt-5">
    <h2 class="text-center mb-5">Liste des tickets dans la file d'attente</h2>
    <div class="card">
    <table class="table table-bordered table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Position</th> 
          <th>Nom</th>
           <th scope="col">Service</th>
           <th scope="col">Numéro de ticket</th>
           <th scope="col">heure de Prise</th> 
           <th *ngIf="!isConnect"scope="col">Status</th>
           <th *ngIf="!isConnect" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; let i = index">
          <td>{{i + 1}}</td>
          <th>{{ticket.nom}}</th>
          <td>{{ticket.serviceModel.nomService}}</td>
          <td>{{ticket.numeroTicket}}</td>
          <td>{{ ticket.heurePrise ? (ticket.heurePrise | date:'dd-MM-yyyy  \'à\' HH:mm:ss') : 'hh-MM-YYYY' }}</td>
          <td *ngIf="!isConnect">{{ticket.status}}</td>
          <td *ngIf="!isConnect">
            <button class="btn btn-success btn-sm mx-1" (click)="deleteTicket(ticket.idTicket)">
              <i class="bi bi-toggle-on"></i>
            </button>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
